@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .button {
    @apply p-2 my-5 bg-dark-gray rounded-md w-44;
  }
  .button:hover {
    @apply p-2 my-5 bg-dark-grayHover rounded-md w-44;
  }

  .button_disable {
    @apply cursor-not-allowed;
  }

  .button_disable:hover {
    @apply bg-dark-gray;
  }
}
