DATABASE = mongodb+srv://<user>:<password>@clust0.example.mongodb.net/?retryWrites=true&w=majority
PORT = 8080

CLOUDINARY_API_KEY = 12345678
CLOUDINARY_API_SECRET = 12345678
CLOUDINARY_API_CLOUD_NAME = example_cloud

SENDINBLUE_SMTP_HOST = smtp-relay.brevo.com
SENDINBLUE_SMTP_PORT = 587
SENDINBLUE_SMTP_PASSWORD = 12345678
SENDINBLUE_SMTP_USER = example@gmail.com

